
<html>
<head>
	<title>{{ title }}</title>
	{% load staticfiles %}
	{% load static %}
	 <style>
body{
        background-image: url("{% static 'images/bg.jpg' %}");
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
</style>
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
</head>
<body>
	<!-- start header -->
	
	<div class="col-md-12 header">
		<div class="col-md-4">
			<img class="img-circle img-responsive" src="{% static 'images/heart.jpg' %}" width="120px" height="120px" >
		</div>
		<div class="col-md-8 title">
			<h1>Heart Disease Prediction system</h1>						
		</div>
	</div>
	<div class="col-md-12 ">
		<nav class="navbar navbar-default">
  		<div class="container-fluid">
    	<ul class="nav navbar-nav">
      	<li><a href="{% url 'index:index' %}"">Home</a></li>
      	<li><a href="{% url 'index:model_info' %}">Model Info</a></li>
      	<li><a href="#">About Us</a></li>
    	</ul>
  </div>
</nav>
	</div>
			
		
	<!-- End header -->
<div class="wrapper">
{% block content%}
{%endblock%}
</div>
	<!-- start footer -->


	<div class="col-md-12 footer">
		<div class="col-md-4"></div>
		<div class="col-md-4" >
			<div align="center"><b>Prepared by</b><br>
				Prajwol,Prakash,Karna & Aishwarya<br>
			<h4>Under supervision of Dadhi Ram Ghimire</h4>
			<h4>Patan Multiple Campus</h4>
		</div>
	</div>
		<div class="col-md-4">
			
			
		</div>
	</div>

</body>
</html>

